body {
  font-family: sans-serif;
}

svg {
  position: absolute;
  top: 0;
}

#horizon-controls {
  position: absolute;
  width: 940px;
  padding: 10px;
  z-index: 1;
}

#horizon-bands {
  float: right;
}